ONEBOT_WS_URL=ws://onebot:8080
ONEBOT_ACCESS_TOKEN=replace-with-onebot-token
ONEBOT_EXPECTED_SELF_ID=1000000000
ONEBOT_ALLOWED_USER_IDS=2000000000
INTERNAL_API_BASE_URL=http://web:3000
INTERNAL_API_TOKEN=replace-with-separate-internal-api-token
MAX_MESSAGE_BYTES=65536
HTTP_TIMEOUT_MS=10000
WS_HEARTBEAT_MS=30000
RECONNECT_MIN_MS=1000
RECONNECT_MAX_MS=30000
OUTBOX_POLL_MS=3000
OUTBOX_RETRY_MAX_MS=30000
ONEBOT_ACTION_TIMEOUT_MS=10000
HEALTH_HOST=0.0.0.0
HEALTH_PORT=8081
